<!-- login.js -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
        <label>Usuario: <input type="text" name="username"></label>
        <label>Contraseña: <input type="text" name="password"></label>
        <input type="hidden" name="idRole" value="2">
        <button type="submit">Registrarme</button>
    </form>
    <a href="/login.html">Regresar</a>
</body>
</html>